@import "tailwindcss";

@layer components {
  .input {
    @apply w-full rounded-lg bg-orange-50 border border-orange-200
           px-4 py-3 text-sm
           focus:outline-none focus:ring-2 focus:ring-orange-400;
  }
}
