@import "tailwindcss";

@layer components {
  .input {
    @apply w-full rounded-lg bg-orange-50 border border-orange-200
           px-4 py-3 text-sm
           focus:outline-none focus:ring-2 focus:ring-orange-400;
  }
}

.active{
  background-color: rgb(255, 129, 38);
  padding: 10px;


}


@theme {
  
  --color-primary: #FF6F20;
  --color-borderLine: #a45613;
  --color-secondary:#fefdfc;

  }
@layer base {

  p {
    @apply text-xs sm:text-sm font-medium text-[#653600f2];
  }

}




.loader {
  height: 4px;
  width: 100%;
  --c:no-repeat linear-gradient(#fff3e7 0 0);
  background: var(--c),var(--c), rgb(255 137 4);
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}



