@import "tailwindcss";

@layer components {
  .input {
    @apply w-full rounded-lg bg-orange-50 border border-orange-200
           px-4 py-3 text-sm
           focus:outline-none focus:ring-2 focus:ring-orange-400;
  }
}

.active{
  background-color: rgb(255, 170, 60);
  padding: 10px;

}


.custom-loader {
  width:20px;
  height:20px;
  border-radius:50%;
  border:4px solid;
  border-color:#E4E4ED;
  border-right-color: #F4F4F4;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}